<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web Portal Development Services | Master Infotech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Master Infotech provie complete web portal development services, a top online portal development firm to help your customers. Grab information and contact Master Infotech.">
	<meta name="keywords" content="web portal development services, web portal development company, b2b portal development, custom web portal development">
	<link rel="canonical" href="https://masterinfotech.com/who-we-are" />
    <link rel="stylesheet" href="assets/css/navbar.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/web-design.css">
   
  
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">
    <link rel="icon" href="assets/images/favicon.png" type="image/gif">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/css/intlTelInput.css">
    <link rel="stylesheet" href="/assets/css/intlTelInput.css?<?php echo time(); ?>">
    <script src="https://masterinfotech.com/assets/js/intlTelInput.js?<?php echo time(); ?>"></script>
    
</head>

<body>

    <header>
        <nav>
            <div class="logo">
                <a href="https://www.masterinfotech.com/"><img src="assets/images/Logo-new-MI-.gif" alt="Logo Image"></a>
            </div>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a href="home.html">HOME</a></li>
                <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="/blog">BLOGS</a></li>
                <li>
                    <label for="drop-1" class="toggle" id="clickme"> OUR SERVICES <i
                            class="fa-regular fa-caret-down"></i></label>
                    <a href="javascript:void(0);" class="active-nav"> OUR SERVICES <i class="fa-regular fa-caret-down"></i></a>
                    <input type="checkbox" id="drop-1" />
                    <ul>
                        <li> <a href="web-d.html">Website Developments</a></li>
                        <li> <a href="mobile_app_development.html">Mobile App Development</a> </li>
                        <li> <a href="ui-ux.html">UI/UX Design</a></li>
                        <li> <a href="e-commerce.html">E-commerce</a></li>
                        <li> <a href="digital-marketing.html">Digital Marketing</a></li>
                        <li> <a href="bussiness_consultation.html">Business Consultation</a></li>
                        <li> <a href="training.html">Training and Internship</a></li>
                        <li> <a href="brand-identity-design.html">Brand Identity Design</a></li>
                        <li> <a href="blockchain.html">Blockchain</a></li>
                    </ul>
                </li>
                <li><a href="contact-us.html"><button class="join2-button"> Get in touch </button></a></li>
            </ul>
        </nav>
    </header>

    <main>
        
		<section id="web-page">

			<div id="banner-head">
				<div class="ban-file">
					<div class="left-side">
						<h1>Website Designing Service Company </h1>
						<p>we deliver the finest quality designing services to promote the growth of your businesses.</p>
						<a href="#">Get in Touch</a>
					</div>
					<div class="right-side" ><img src="assets/images/webdesign/top-baner.png" alt="Website Designing Company"></div>
				</div>
			</div>
			
			<div id="business-serv">
					<div class="title"> <h2>Cutting Edge <span>Service</span> for <span>Business</span>  </h2></div>
					
					<div class="business-serv">
						<div class="business-serv-list">
							<div ><img src="assets/images/webdesign/edge-1.png" alt="E-commerce Development"><h3>E-commerce Development</h3></div>
							<p>We're here to help you make more and serve more customers with our ECommerce development services</p>
							<a href="#">Explore more</a>
						</div>
						
						 <div class="business-serv-list">
							<div><img src="assets/images/webdesign/edge-2.png" alt="Wordpress Development"><h3>Wordpress Development</h3></div>
							<p>WordPress is not just a blogging platform, it's a whole new way to build and grow your business. We would love to help you work with WordPress.</p>
						   <a href="#">Explore more</a>
						</div>
						
						 <div class="business-serv-list">
							<div ><img src="assets/images/webdesign/edge-3.png" alt="Shopify Development"><h3>Shopify Development</h3></div>
							<p>Do you want to get your Shopify store run quickly with your custom Shopify development services? We aim to build your site from scratch.</p>
							<a href="#">Explore more</a>
						</div>
						
						 <div class="business-serv-list">
							<div ><img src="assets/images/webdesign/edge-4.png" alt="Web Portal Development"><h3>Web Portal Development</h3></div>
							<p>Would you like to turn your business into a digital powerhouse? We can do it by creating beautiful, functional websites that get your business noticed.</p>
						   <a href="#">Explore more</a>
						</div>
						
						 <div class="business-serv-list">
							<div ><img src="assets/images/webdesign/edge-5.png" alt="CMS Development"><h3>CMS Development</h3></div>
							<p>CMS development is an integral part of business growth. We assure to help you build the website that you want.</p>
							<a href="#">Explore more</a>
						</div>
						
						<div class="business-serv-list">
							<div ><img src="assets/images/webdesign/edge-6.png" alt="Maintance & Support"><h3>Maintance & Support</h3></div>
							<p>We are committed to delivering excellent business service. Whether it’s support or maintenance, we assure you we to be there for you at every step.</p>
							<a href="#">Explore more</a>
						</div>
		
						 <div class="business-serv-list">
							<div ><img src="assets/images/webdesign/edge-7.png" alt="ERP Development"><h3>ERP Development</h3></div>
							<p>We offer a complete suite of solutions for growing your business, from accounting to marketing to payroll.</p>
							<a href="#">Explore more</a>
						</div>
					</div>
			</div>
			
			<div id="build">
				<div class="build-comp" >
					<div>
						<h2>Build Your <br>Future Company </h2>
						<p>The online market is proven to be a boon for all businesses around the globe. Many businesses are introduced to new audiences through online mode. Online audiences are much more vast than offline mode. Today everybody chooses to order online rather than going to buy the product. We all enjoy home delivery services. So it is important to invest in building good web interfaces, Master Infotech deals in  all kinds of web development, and web designing services. We try to provide authentic results to our customers.</p>
					   <a href="#" class="light-btn" >Talk to expert</a>
					</div>
					<img src="assets/images/webdesign/future-comp.png">
				</div>
				<div class="img_elements"> <img src="assets/images/webdesign/img_element.png" alt="Best Website Designing Company"></div>
			</div>
			
			<div id="web-design">
				<div class="title"><h2>Still Confused! <br>What is <span>web Designing</span>?  </h2></div>
				<div class="web-cont"> 
					<div>
						<h3>Understand in Simply 4 Points  </h3>
						<ul>
							<li>Websites have to be developed efficiently so the focus should be on web design.There is only use for efficient websites if it is good-looking.</li>
							<li>Customers don't spend much time on one website. If they don't find your business website interesting they will just switch to other attractive websites.</li>
							<li>Maintaining the quality of your websites through website designs is in your hand.Hire a good web designing company that would help with web page designs with new features. </li>
							<li>Designing companies provide web designing services for building the best kinds of websites.</li>
						</ul>
					</div>  
					<img src="assets/images/webdesign/web-design.png" alt="Growth oriented web designing services">
				</div>  
		   </div>
		   <section id="call">
				<div> 
				   <h2>Let’s Discuss your Project</h2>
				   <a href="#" class="orange-btn">Call now</a>
			   </div>
			   <img src="assets/images/webdesign/img_elements.png">
			</section>
		
		
			<div id="indus_try">
				<div class="title"><h2>Industry Wise <span>Solution</span> </h2></div>
				<div class="tabs-container">
					<div class="tab-wb active"><a href="" class="tab-wb-title">Fintech</a></div>
					<div class="tab-wb-content" id="">
						<div><h3>Fintech </h3> <a href="#">Explore more</a> </div>
						<p>In the fintech industry, many areas need to be addressed such as new developing payment methods, investment & banking services, etc. Thus, one of the most important aspects while designing a website or an application for the fintech industry should be its ease of use. It is used by users to navigate and find what they need. Therefore we work to make a user-friendly website that is easy to understand.</p>
						<img src="assets/images/webdesign/Fintech.png" alt="Web Designing Solution for Fintech Industry" />
					</div>
		
					<div class="tab-wb"><a href="" class="tab-wb-title">Food</a></div>
					<div class="tab-wb-content" id="">
						<div><h3>Food</h3> <a href="#">Explore more</a> </div>
						<p>The food industry is a large market that is constantly evolving. The best way to reach this audience is through an intuitive website that provides them the provision of online menus, featured dishes, food-related news, events & chef and team bios, etc. With website designing, we aim to provide you with an effective way of communicating with your customers along with increased brand recognition. </p>
						<img src="assets/images/webdesign/Food.png" alt="Web Designing Solution for Food Industry">
					</div>
					<div class="tab-wb"><a href="" class="tab-wb-title">Real-estate</a></div>
					<div class="tab-wb-content" id="">
						<div><h3>Real-estate </h3> <a href="#">Explore more</a> </div>
						<p>Do you know, 93% of people go through websites when searching for homes or property. So, real estate is a big industry, and it's important to make sure your website looks great and is user-friendly. We are aware that websites need to be visually appealing, and easy to navigate. Therefore, we can help you with everything from building an intuitively designed webpage or an application that is beautiful and user-friendly </p>
						<img src="assets/images/webdesign/Real-estate.png" alt="Web Designing Solution for Real-estate Industry">
					</div>
		
					<div class="tab-wb"><a href="" class="tab-wb-title">Healthcare</a></div>
					<div class="tab-wb-content" id="">
						<div><h3>Healthcare </h3> <a href="#">Explore more</a> </div>
						<p>Healthcare is a complex industry, with a wide range of needs. As we can see the healthcare industry involves a lot from managing patients' records to managing health insurance records. We are here to help you in building your site's architecture so that it's aligned with your business goals, from security and scalability to usability and accessibility. </p>
						<img src="assets/images/webdesign/Healthcare.png" alt="Web Designing Solution for Healthcare Industry">
					</div>
		
					<div class="tab-wb"><a href="" class="tab-wb-title">Education</a></div>
					<div class="tab-wb-content" id="">
						<div><h3>Education </h3> <a href="#">Explore more</a> </div>
						<p>In this world of technology, your website serves as the initial point of contact for many prospective students and alumni, and as the major means of internal communication for many departments. Therefore, we aim to coordinate educational institutions’ marketing and branding efforts through the medium of web pages because the future of education is highly dependent on software and web development.</p>
						<img src="assets/images/webdesign/Education.png" alt="Web Designing Solution for Education Industry">
					</div>
					
					<div class="tab-wb"><a href="" class="tab-wb-title">Fashion</a></div>
					<div class="tab-wb-content" id="">
						<div><h3>Fashion </h3> <a href="#">Explore more</a> </div>
						<p>The fashion industry has been a major industry for several years now, and it has been growing at a fast pace. We know what you're thinking: "Why would I need a website for my fashion business?" The answer is simple: A beautifully created professional website will help you increase revenue and help you stand out from all the other fashion businesses. We aim to create a unique site that will get people talking about your brand. </p>
						<img src="assets/images/webdesign/Fashion.png" alt="Web Designing Solution for Fashion Industry">
					</div>
				</div>
			</div>
			
			<div id="scroll">
				<div class="scroll ">
					<div>
						<h2>Key Benefits of Having a <span>WEBSITE</span> for your <span>Business</span> </h2>
						<h3>Why are web design services needed?</h3>
						<p>All businesses need web development services. Small as well as large-scale 
						   businesses all require web designing services. Web designing is so important to 
						   enhance the quality of your websites. Web designs can single-handedly change 
						   the game of your business. As they help in uplifting the brand’s value. Our web designers 
						   help in meeting all your requirements.They try to build websites that match your vision. 
						   Website designing requires a lot of hard work from designers. Designers face difficulties 
						   to keep up with trends, but they try their best to provide the best website design services.
						</p>
		
					</div>
					<div class="scroll-div" >
					<h3>Boost performance of websites</h3>
					 <p>Websites that have good appearances tend to get more traffic. 
						Maintaining color themes with proper font sizes helps in achieving 
						powerful websites. Websites must look aesthetic. Users are primarily 
						attracted to aesthetic and genuine websites only.
						</p>
						<h3>Reach is amplified</h3>
					 <p>Investing in the right website design agency enhances the quality 
						of website designs. Appealing websites catch the attention of users. 
						User-friendly websites are always preferred by users. 
						With more traffic on websites, the sales of products are enhanced.
						</p>
						<h3>Easily approached by users</h3>
						<p>Users can easily find your website if they are developed and designed in the finest versions.SEO-oriented websites are ranked high
							on search engines which helps in gaining more audiences.More traffic ultimately means more sales of your products and services.
						</p>
					</div>
				</div>
				
			</div>    
			
			<section id="really">
				<div class="">
					<div class="iner-box">
						<div class="img-part-relly">
							<img src="assets/images/webdesign/young.png" alt="Choose the best web designing company">
						</div>				
						 <div class="line">
							<hr>
						</div>
						<div class="text-part-relly">
							<h2>How to Choose a <br><span>Web Designing Company</span></h2>
							<p>Many Web designing companies deliver great web designing services. Services include content alignment, shape, color schemes, and fonts. Websites are designed from scratch and converted into beautiful interfaces. It is very important to look out for all options of web designing company.</p>
							<p>You can look for various options of Website designing companies on google. The simple way to find the perfect company among all the options available  is to read the customer's reviews on reliable sites like Clutch. </p>
							<p>You can also look for other options for web designers by asking them about their prior experiences in the field of website design.</p>
						</div>
					</div>
				</div>
			</section>
			
			
			<section id="prime">
				<div class="prime">
					<div class="title"><h2>Why <span>MasterInfotech</span></h2></div>
					<div>
						<div>
							<h3>Prime Choice as a Web-Designing Company.</h3>
							<p>Master Infotech should be your first choice for a web designing company. We have a team of well-experienced web designers who put their heart and 
							   soul into designing your websites. The efforts of our team are unmatched by the rest of the web designing companies.To make your websites look nice on 
							   all social platforms, web designers try their level best. Choosing the right company is crucial for improving the quality of your websites.Competition is 
							   never ending in this world, so you have to make your website designs authentic and aesthetic for users. We try to fulfill all your requirements. You just have to trust the process</p>
							<a href="">Get in Touch</a>
						</div>
						<div>
						<img src="assets/images/webdesign/prime.png" alt="Best Website Designing Services">
						</div>
					</div>
				</div>
			</section>
		
			<section id="elements">
				<div class="">
					 <div class="title"><h2>Elements of <span>Website Design</span></h2></div>
					<div class="web-elements">
					  <div>
					  <div class="card-img"><div ><img src="assets/images/webdesign/element-1.png" alt="Typography"></div></div>
						<div class="card-box">
							<div class="line"><hr></div>
							<div class="web-card">
								<h4>Typography </h4>
								<p>There are many different types of fonts available. Web designers choose fonts of different sizes and shapes to make websites look appealing.</p>
							</div>
						</div>
					  </div>
					  <div>
					  <div class="card-img"><div ><img src="assets/images/webdesign/element-2.png" alt="colour schemes" ></div></div>  
						<div class="card-box">
							<div class="line"><hr></div>
							<div class="web-card">
								<h4>Colour Schemes   </h4>
								<p>websites that have different color schemes look attractive to users. Aesthetic websites receive much appreciation from audiences. Contrasting colors give a better look to your websites.</p>
							</div>
						</div>
						</div>
						<div>
						<div class="card-img"><div ><img src="assets/images/webdesign/element-3.png" alt="content"></div></div>
						<div class="card-box">
							<div class="line"><hr></div>
							<div class="web-card">
								<h4>Content   </h4>
								<p>Websites should have their content arranged in such a manner that it compels the audience to  read all the information regarding your business.</p>
							</div>
						</div>
					  </div>
		
					</div>
			   </div>
			</section>
		  <section id="development">
			<div  class="">
			   <div class="title"><h2>Our Web Development <span>Process</span></h2></div>
			  <div class="dev-cont">
				<div>
					<div class="dev-card">
						<div class="dev-no"><p>1<p></div>
						<div>
						  <h4>Understanding Client Vision </h4>
						  <p>At first, we diligently and comprehensively listen to clients requirments  and ensure to clear their queries in the best possible  way </p>
						</div>
					</div>
					<div class="dev-card">
						<div class="dev-no"><p>2<p></div>
						<div>
						  <h4>Design and Development  </h4>
						  <p>After creating design we send it to client for review it and get feedback we keep looking for innovative touches until client satisfied </p>
						</div>
					</div>
				</div>
				<div>
					<div><img src="assets/images/webdesign/dev-mask.png" alt="Website Development Process"></div>
					<div class="dev-card">
						<div class="dev-no"><p>3<p></div>
						<div>
						  <h4>Planning and Conceptualization</h4>
						  <p>We craft proven plan to make your website development process manageble and organised </p>
						</div>
					</div>
				</div>
				<div>
				<div class="dev-card">
						<div class="dev-no"><p>4<p></div>
						<div>
						  <h4>Testing </h4>
						  <p>we run the website on several device to check its compatabilty and make it more user friendly</p>
						</div>
					</div>
					<div class="dev-card">
						<div class="dev-no"><p>5<p></div>
						<div>
						  <h4>Launching </h4>
						  <p>we understand how important is goal and create a great experience to end userwe run the website on several device to check its compatabilty and make it more user friendly </p>
						</div>
					</div>
				</div>
		
			  </div>
			</div>
		  </section>  
		
			<!-- FAQ  -->
			<section class="faq_main">
				<div class="title">
					<h2>Frequently <span>Asked</span> Questions</h2>
				</div>
				<div class="faq-drawer">
				  <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer">What are technologies used in website design? </label>
				  <div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
					  <p> A Website designing company uses several programming languages, tools, and technologies. A good web design agency possesses front-end web technologies that use computer languages to generate user-visible components. It's an ecosystem of programming languages, resources, and tools. Back-end technologies combine communication between the application, server, and browser. Web design database, programming, and architecture are its core. 
					  </p>
					</div>
				  </div>
				</div>
				<div class="faq-drawer">
				  <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-2">What does a web designing company do?   </label>
				  <div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
					  <p>You can see a number of different types of business websites available online present day. Hence, it is the responsibility of a web designing company to build a website that meets a company's needs. Therefore, creating, designing, developing, and maintaining are all tasks performed by the best website designing company.
					  </p>
					</div>
				  </div>
				</div>
				<div class="faq-drawer">
				  <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-3">Is choosing web designing important for your website?  </label>
				  <div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
					  <p> Do you know that nearly 75% of people report making fast decisions about a company's credibility by looking at its website design? Apart from that, website designing services are important for a website because they offer alot of benefits, such as it aids in google's ranking. Along with that, it helps to generate leads. Also, it helps you to withstand the competitive market.</p>
					</div>
				  </div>
				</div>
				<div class="faq-drawer">
				  <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" /><label class="faq-drawer__title" for="faq-drawer-4">What are the different types of web designing?    </label>
				  <div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
					  <p> Along with different types of web designing services, there are six of the most popular types of web designing also such as static page layout, liquid design layout, adaptive website layout, dynamic website layout, responsive design layout, and single page layout.
					  </p>
					</div>
				  </div>
				</div>
			  </section>
		
			 
			 
  </main>

    <footer>
        <div class="footer-form" id="contact-form">
          <div>
            <div>
              <img src="assets/images/Contact-info.png">
            </div>
            <div class="form-ft">
              <h2> Set and accomplish your <br>Dream goal with<span> Master Infotech</span></h2>
              <form>
                <div class="form-input">
                  <div class="from-feild">
                    <div class="from-feild-inner">
                      <label>Name:</label>
                      <input type="text" placeholder="Name" name="name" id="new_name"><br>
                      <span id="new_error_name"></span>
                    </div>
                    <div class="from-feild-inner">
                      <label>e-mail:</label>
                      <input type="email" placeholder="Mail" name="email" id="new_email"><br>
                      <span id="new_error_email"></span>
                    </div>
                    <div class="from-feild-inner">
                      <label>Phone No:</label>
                      <input type="tel" id="new_phone" name="phone" placeholder="1234567890"><br>
                      <span id="new_error-msg" class="country-code-hide"></span>
                      <span id="new_error_phone"></span>
                    </div>
                    <div class="from-feild-inner">
                      <label>Select Service:</label>
                      <div class="wrap-drop" id="new_service">
    
                        <span>Select services</span>
                        <ul class="drop">
                          <!-- <li class="selected"><a>Select services</a></li> -->
                          <li value="Blockchain"><a>Blockchain</a></li>
                          <li value="AI and ML"><a>AI and ML</a></li>
                          <li value="Digital Marketing"><a>Digital Marketing</a></li>
                          <li value="UX/UI"><a>UX/UI</a></li>
                          <li value="Mobile App Development"><a>Mobile App Development</a></li>
                          <li value="Web Development"><a>Web Development</a></li>
                          <li value="Branding"><a>Branding</a></li>
                          <li value="E-Commerce"><a>E-commerce</a></li>
                          <li value="Training and Internship"><a>Training and Internship</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-submit">
                  <button class="main-btn radius-class read-btn" type="button" id="btn-sub"
                    onclick="validateForm()">Submit</button>
                </div>
              </form>
            </div>
    
          </div>
        </div>
        <div class="footer-sec-cont">
          <div class="footer-sec">
            <div>
              <ul>
                <li>Contact</li>
                <li><a href="tel:+91 74000 18000">+91 74000 18000</a></li>
                <li><a href="tel:+1 (718) 514-2776">+(718) 514-2776</a></li>
                <li><a href="mailto:info@masterinfotech.com">Info@masterinfotech.com</a></li>
              </ul>
              <ul>
                <li>INDIA</li>
                <li>Plot no 169 Sector 82 JLPL, Mohali Punjab, INDIA</li>
              </ul>
              <ul>
                <li>USA</li>
                <li>3rd floor, 30 W 47th St #301, Etech7, Newyork, UNITED STATES</li>
              </ul>
            </div>
            <div>
              <ul>
                <li>Menu</li>
                <li><a href="home.html">Home</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="/services">Our Services</a></li>
                <li><a href="/blog">Blogs</a></li>
                <li><a href="career.html">Careers</a></li>
                <li><a href="/contact-us">Get a Quote</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </div>
            <div>
              <ul>
                <ul>
                  <li>Services</li>
                  <li><a href="blockchain.html">Blockchain </a></li>
                  <li><a href="mobile_app_development.html">Mobile App Development</a></li>
                  <li><a href="web-d.html">Website Development</a></li>
                  <li><a href="ui-ux.html">UI/Ux Design</a></li>
                  <li><a href="e-commerce.html">E-Commerce</a></li>
                  <li><a href="digital-marketing.html">Digital Marketing</a></li>
                  <li><a href="bussiness_consultation.html">Business Consulation</a></li>
                  <li><a href="brand-identity-design.html">Brand Identity Design</a></li>
                  <li><a href="training.html">Training and Internship</a></li>
                </ul>
              </ul>
            </div>
            <div class="follow">
              <ul>
                <li>About</li>
                <li><a href="who-we-are.html">Who we are</a></li>
                <li><a href="/who-we-are#ourvision">Our Vision</a></li>
                <li><a href="/who-we-are#ourvalue">Our Value</a></li>
                <li><a href="/write-for-us">Write for Us</a></li>
              </ul>
              <ul>
                <li>Follow us</li>
                <li>
                  <ul>
                    <li><a href="https://www.facebook.com/masterinfotech/"><img src="assets/images/facebook-ftr.png"></a>
                    </li>
                    <li><a href="https://twitter.com/masterinfotech_"><img src="assets/images/twitter-ftr.png"></a></li>
                    <li><a href="https://www.instagram.com/masterinfotechofficial/"><img
                          src="assets/images/instagram-ftr.png"></a></li>
                    <li><a href="https://www.linkedin.com/company/master-infotechofficial/"><img
                          src="assets/images/linkedin-ftr.png"></a></li>
                    <li><a
                        href="https://www.behance.net/ab941400?tracking_source=search_users_recommended%7Cmaster%20infotech"><img
                          src="assets/images/behance-ftr.png"></a></li>
                    <li><a href="https://dribbble.com/MasterInfotechOfficial"><img src="assets/images/dribble-ftr.png"></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="newsletter-div">
              <ul>
                <li>Newsletter</li>
                <li>Signup for Freshly Brewed Update</li>
                <li>
                  <div class="news-input"><input type="text" placeholder="Your email address">
                    <button class=""> Subscribe</button>
                  </div>
                </li>
              </ul>
              <div>
                <img src="assets/images/clutch2.png">
              </div>
            </div>
          </div>
          <div class="copyright">
            <div> © Copyrights 20221-2022. <a href="#"> Masterinfotech </a> | All Rights Reserved </div>
    
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/terms-condition">Term and Condition</a>
          </div>
        </div>
      </footer>
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
      <script src="assets/js/slick.js" type="text/javascript" charset="utf-8"></script>
    
      <script src="https://masterinfotech.com/assets/js/intlTelInput.js?<?php echo time(); ?>"></script>
	  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> 
	  <script>
		$(function() {
		$('.tab-wb-title').on('click', function(e) {
			e.preventDefault();
			var _self = $(this);
			$('.tab-wb').removeClass('active');
			_self.parent().addClass('active');
		  });
		});
	</script>
	
	<script type="text/javascript">
		
			$(function() {
			$('.tab-wb-title').on('click', function(e) {
				e.preventDefault();
				var _self = $(this);
				$('.tab-wb').removeClass('active');
				_self.parent().addClass('active');
			  });
			});
		</script>
	
		<script type="text/javascript">
			$(function () {
				$('.slide_vertical').infiniteslide({
					direction: 'down',
					pauseonhover: false
				});
			});
			
			$(function() {
			$('.tab-wb-title').on('click', function(e) {
				e.preventDefault();
				var _self = $(this);
				$('.tab-wb').removeClass('active');
				_self.parent().addClass('active');
			  });
			});
		</script>
		<!-- slider JS files -->
		<script>
			$(document).ready(function () {
	
	
				$("#smenu").click(function(){
		  $(".sm-menu").toggle();
		});
		$(".hovermenu").hover(
			function(){
						$(".bgmenuhover").show();
				});
		$(".innermenu").hover(
			function(){
						$(".bgmenuhover").show();
				},
				function(){
						$(".bgmenuhover").hide();
				}
				);
		$(".abc").hover(function(){
			$(".bgmenuhover").hide();
		}); 
		 $(".navbar").hover(function(){
			$(".bgmenuhover").hide();
		});
		
				$("#example2").click(function () {
					$(".sm-menu").toggle();
				});
	
				$('#example2').scrollimageinside({
					speed: 600
					
				});
	
				$(function () {
	
				$('#example2').scrollimageinside();
				});
			});
	
	AOS.init();
	
	
		</script>
   
      <script>
    
        const hamburger = document.querySelector(".hamburger");
        const navLinks = document.querySelector(".nav-links");
        const links = document.querySelectorAll(".nav-links li");
    
        hamburger.addEventListener('click', () => {
    
          navLinks.classList.toggle("open");
          links.forEach(link => {
            // link.classList.toggle("fade");
          });
    
          hamburger.classList.toggle("toggle");
        });
      </script>
    
      <script>
    
        $(document).ready(function () {
          count = 1;
    
          $("#clickme").click(function () {
            var num = count++;
    
            if (num == 2) {
              window.location.href = "https://www.google.com";
            }
          });
    
        });
    
        var $bannerSlider = jQuery('.banner-slider');
        var $bannerFirstSlide = $('div.banner-slide:first-child');
    
        $bannerSlider.on('init', function (e, slick) {
          var $firstAnimatingElements = $bannerFirstSlide.find('[data-animation]');
          slideanimate($firstAnimatingElements);
        });
        $bannerSlider.on('beforeChange', function (e, slick, currentSlide, nextSlide) {
          var $animatingElements = $('div.slick-slide[data-slick-index="' + nextSlide + '"]').find('[data-animation]');
          slideanimate($animatingElements);
        });
        $bannerSlider.slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          fade: true,
          dots: false,
          swipe: true,
          adaptiveHeight: true,
          responsive: [
            {
              breakpoint: 767,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 4000,
                swipe: true,
              }
            }
          ]
        });
        function slideanimate(elements) {
          var animationEndEvents = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          elements.each(function () {
            var $this = $(this);
            var $animationDelay = $this.data('delay');
            var $animationType = 'animated ' + $this.data('animation');
            $this.css({
              'animation-delay': $animationDelay,
              '-webkit-animation-delay': $animationDelay
            });
            $this.addClass($animationType).one(animationEndEvents, function () {
              $this.removeClass($animationType);
            });
          });
        }
    
        jQuery("[data-color]").each(function () {
          jQuery(this).css('color', jQuery(this).attr('data-color'));
        });
  
        jQuery("[data-bgcolor]").each(function () {
          jQuery(this).css('background-color', jQuery(this).attr('data-bgcolor'));
        });
      </script>
    
      <script type="text/javascript">
        $(document).on('ready', function () {
          $('.industry').slick({
            dots: true,
            infinite: true,
            speed: 500,
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1200,
            centerPadding: '20px',
            pauseOnDotsHover: true,
            arrows: true,
            responsive: [{
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            },
            {
              breakpoint: 1100,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 1
              }
            }]
          });
    
          $('.client-slider').slick({
            dots: false,
            infinite: true,
            speed: 500,
            slidesToShow: 5,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1200,
            pauseOnDotsHover: true,
            arrows: false,
            responsive: [{
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 1
              }
            }]
          });
        });
      </script>
    
    
    
    <script>
    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.drop li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;
            obj.dd.on('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                $(this).toggleClass('active');
            });
            obj.opts.on('click', function () {
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
                opt.siblings().removeClass('selected');
                opt.filter(':contains("' + obj.val + '")').addClass('selected');
            }).change();
        },
        getValue: function () {
            return this.val;
        },
        getIndex: function () {
            return this.index;
        }
    };
    
    $(function () {
        var dd1 = new DropDown($('#new_service'));
        $(document).click(function () {
            // close menu on document click
            $('.wrap-drop').removeClass('active');
        });
    });
    </script>
     <script type="text/javascript">
        
        let number = 0;
        let footercode = 0;
          var input = document.querySelector("#new_phone"),errorMsg = document.querySelector("#new_error-msg");
    var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
    
    var iti = window.intlTelInput(input, {
      separateDialCode: true,
      initialCountry: "in",
      geoIpLookup: function(callback) {
        $.get('https://ipinfo.io', function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          callback(countryCode);
            
        });
      },
      utilsScript: "https://masterinfotech.com/assets/js/utils.js?<?php echo  time() ;?>"
    });
    
    
    var reset = function() {
      input.classList.remove("error-code");
      errorMsg.innerHTML = "";
      errorMsg.classList.add("country-code-hide");
     // validMsg.classList.add("country-code-hide");
    };
    
    var isvalidformfooter = 0;
    // on blur: validate
    input.addEventListener('blur', function() {
      reset();
     
      if (input.value.trim()) {
        if (iti.isValidNumber()) {
             number = iti.getSelectedCountryData();
              footercode = number['dialCode'];
            
            isvalidformfooter = 1;
         // validMsg.classList.remove("country-code-hide");
        } else {
          input.classList.add("error-code");
          var errorCode = iti.getValidationError();
          errorMsg.innerHTML = errorMap[errorCode]; 
          errorMsg.classList.remove("country-code-hide");
        }
      }
    });
    
    
    // on keyup / change flag: reset
    input.addEventListener('change', reset);
    input.addEventListener('keyup', reset);
        
    var pagename = window.location.href ;	
        
        function validateForm() {
                var valid = true;
                if (isFormValid()) {
                    console.log('in if');
                    var name = $("#new_name").val();
                    var email = $("#new_email").val();
                    var mob = $("#new_phone").val();
                    var code = footercode;
                    var phone = "+" + code + "-" + mob;
                    var msg = 'null';
                    //var service = 'null';
                    var service = $("#new_service").val();
                    
                    //var budget = $("#budgetfoot").val();
                    var budget = 'null';
                    var values = {"name":name,"email":email,"phone":phone,"message":msg,"service":service,"budget":budget,"pagename":pagename};
                    
                    console.log(values);
                    $.ajax({
                    url: "mail.php",
                    type: "post",
                    data: values ,
                    success: function (response) {
                        console.log(response);
                        sendmail(values);
                    //$(".success").html("Thank you for your enquiry. We will revert you soon.");
                    window.location.href= "thankyou.php";
                    valid = false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                    console.log(res);				
                 // alert("Your form fields are validated. Now you can implement insert logic");
                }
                });
                    
                }
         }
        
        function isFormValid() {
            
            //Initially default values;
                errorMessage = "";
                $(".error").html("");
                var isValid = true;
                var regName = /^[a-zA-Z ]+$/;
                var regemail=  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                var regphn = /^[0-9]*$/;
                
        
                //Validate First name
                if ($("#new_name").val() == "") {
                    $("#new_name").siblings("#new_error_name").html("Please Enter Your Name")
                    isValid = false;
                }
                else {
                    if (!regName.test($("#new_name").val())) {
                        $("#new_name").siblings("#new_error_name").html("Please Enter Your Valid Name")
                        isValid = false;
                    }
                }
                
                 if ($("#new_email").val() == "") {
                    $("#new_email").siblings("#new_error_email").html("Please Enter Your Email ")
                    isValid = false;
                }
                else {
                    if (!regemail.test($("#new_email").val())) {
                        $("#new_email").siblings("#new_error_email").html("Please Enter Your Valid Email")
                        isValid = false;
                    }
                }
                        
                 if ($("#new_phone").val() == "" || $("#new_phone").val() == null ) {
                    $("#new_phone").siblings("#new_error_phone").html("Please Enter Your Phone Number")
                    isValid = false;
                }
        
                 else if(isvalidformfooter == 0){
                    isValid = false;
                }
                
                /* if ($("#budgetfoot").val() == "none") {
                    $("#error_budgetfoot").html("Please Select A Budget ")
                    isValid = false;
                } */
                    if ($("#new_service").val() == "none") {
                    $("#new_error_service").html("Please Select A Service ")
                    isValid = false;
                }
                // console.log(verifythiscaptcharesponse);
                // if(verifythiscaptcharesponse == "" || verifythiscaptcharesponse == null ){
                // 	$("#captcha").siblings(".error").html("Please Select Checkbox")
                // 	isValid = false;
                // } 
             return isValid;
        }
    
        </script>
        <script src="https://masterinfotech.com/landingpages/sendmailfunction.js" type="text/javascript"></script>